{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<div class="row justify-content-center align-items-center">
    <div class="col-6">
        <h3> Add Task </h3>
        <form id="taskForm" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" minlength="8"
                            required>
                    </div>
                    <div class="form-group col-6">
                        <label for="start_date">Start Date</label>
                        <input type="text" class="form-control" id="start_date" name="start_date" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="due_date">Due Date</label>
                        <input type="text" class="form-control" id="due_date" name="due_date" required>
                    </div>

                    <div class="form-group col-6">
                        <label for="duration">Duration (Days)</label>
                        <input type="number" class="form-control" id="duration" name="duration" readonly>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<br>
<hr>
<br>

<div class="row justify-content-center align-items-center">
    <table id="taskList"></table>
</div>

<script type="text/javascript">
    $(function () {
        // jQuery UI Date Components
        $("#start_date").datepicker({
            onSelect: date_changed
        });

        $("#due_date").datepicker({
            onSelect: date_changed
        });

        // Populate the duration field on date changed
        function date_changed(e) {
            var start = $('#start_date').val();
            var end = $('#due_date').val();

            var diff = new Date(new Date(end) - new Date(start));
            var days = diff / 1000 / 60 / 60 / 24;

            if (days)
                $('#duration').val(days);
            else
                $('#duration').val('');
        }

        // Validation => From date less that to date
        $.validator.addMethod('minStrict', function (value, el, param) {
            return value > param;
        });

        // Validate the form
        $('#taskForm').validate({
            rules: {
                duration: {
                    required: true,
                    minStrict: 1,
                    number: true,
                },
            }
            ,
            messages: {
                duration: {
                    minStrict: "Start date should be less than Due Date"
                }
            }
        });

        // Fill tasks list
        const result = JSON.parse('{{ tasks | safe }}');
        console.log(result);

        const tasks = result.map(e=> {
            return { 'id': e.pk,
                      'description': e.fields['description'],
                      'start_date': e.fields['start_date'],
                      'due_date': e.fields['due_date']
                    };
        });
        console.log(JSON.stringify(tasks));

        jQuery("#taskList").jqGrid({
            datatype: "local",
            autoheight: true,
            colNames: [ 'Description', 'Start Date', 'Due Date'],
            colModel: [
                // { name: 'id', index: 'id', sorttype:"int"},
                { name: 'description', index: 'description' },
                { name: 'start_date', index: 'start_date', sorttype:"date" },
                { name: 'due_date', index: 'due_date', sorttype:"date" },
            ],
            caption: "Tasks"
        });

        for (var i = 0; i <= tasks.length; i++)
            jQuery("#taskList").jqGrid('addRowData', i + 1, tasks[i]);
    });
</script>

{% endblock %}